{{ define "navbar" }}
    {{ partial "navigators/navbar.html" . }}
{{ end }}

{{ define "sidebar" }}
  {{/* Sidebar removed for a cleaner layout */}}
{{ end }}

{{ define "content" }}
<section class="content-section no-sidebar" id="content-section">
  <div class="content container-fluid" id="content">
    <div class="container-fluid post-card-holder" id="post-card-holder">
      {{ $posts := where .RegularPagesRecursive "Layout" "!=" "search" }}
      {{ $posts = where $posts "Params.hidden" "!=" true }}
      {{ $numShow := site.Params.features.pagination.maxPostsPerPage | default 12}}
      {{ $paginator := .Paginate $posts $numShow }}
      {{ range $paginator.Pages }}
        {{ if .Layout }}
          {{/* ignore the search.md file*/}}
        {{ else }}
          {{ partial "cards/post.html" . }}
        {{ end }}
      {{ end }}
    </div>
    <div class="paginator">
      {{ partial "pagination.html" . }}
    </div>
  </div>
</section>
{{ end }}
